<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | Movie Recommender</title>
        <link rel="stylesheet" type="text/css" href="../public/style_sheet/style.css"/>
        <script type="text/javascript" src="../public/js/jquery-1.10.2.min.js"></script>
    </head>
    <body>
        <div class="View ResultView">
            <h1 class="Banner"> Here're a list of recommended movies </h1>

            <div id="container-movies">
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../public/js/home.js"></script>
</html>
