<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | Movie Recommender</title>
        <link rel="stylesheet" type="text/css" href="../public/style_sheet/style.css"/>
        <script type="text/javascript" src="../public/js/jquery-1.10.2.min.js"></script>
    </head>
    <body>
        <div class="View WelcomeView">
            <h1 class="Banner"> Tell me about your last week </h1>
            <div class="TextBox">
                <form id="get-mood-form" method="post">
                    <textarea name="query" rows="25" cols="100" placeholder="Enter text here..."></textarea>
                    <input class="actions" type="submit" value="Submit">
                </form>
            </div>

            <div class="Message">
                <div class="Title">
                    <h3>Advising the best</h3>
                    <h1>Movie for you</h1>
                    <span class="Details">Let's chill</span>
                </div>
            </div>
        </div>


        <div class="View ResultView">
            <h1 class="Banner"> Here're the recommended movies based on your mood </h1>
            <div class="Result"></div>
            <div class="Message">
                <img id="loading" src="../public/img/loading.gif" height="150px" width="150px">
                <img id="ready" src="../public/img/popcorn.jpeg" height="150px" width="150px">
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../public/js/home.js"></script>
</html>
