* {
    box-sizing: border-box;
}
html,
body,
#root {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
h1,
h2,
h3 {
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #2a3747;

}
h1 {
    font-size: 40px;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
#root {
    display: flex;
    flex-direction: column;
}
.View {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-size: cover;
    font-family: sans-serif;
}
.Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    padding: 15px;
    font-family: monospace;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.Message {
    background: white;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display:inline-block;
}
.Message > .Title {
    padding-bottom: 20px;
}
.Message > .Details {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.WelcomeView {
    background: url("../img/movies.jpg") ;
    background-size: cover;
}

.TextBox {
    padding-top: 1.5%;
    padding-left: 22%;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    border: 2px dashed red;
}
.actions {
    margin-left: 40%;
    background-color: #fa4141;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ResultView{
    background: url("../img/moviesTrans.jpg") ;
    background-size: cover;
    display: none;
}

.Result {
    margin-top: 3%;
    margin-bottom: 40%;
    flex-direction: row;
}

.Result > .Movies {
    float: left;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    padding-bottom: 1%;
    height: 47%;
    border: 2px dashed red;
    background: gainsboro;
    display: inline-block;
    text-align: center;
}

.Result > .Movies > p {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #2a3747;
}
